/*https://stackoverflow.com/questions/45999420/how-to-increase-font-size-in-bootstrap-4
!!! -> rem;
*/
html {
    font-size: 12px;
}

h1, h2, h3 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: black!important;
    color: white!important;
}

form {
    width: 200px;
    margin: auto;
    text-align: center;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

#form-row {
    background: black;
}

main {
    flex-grow: 1;
    margin-bottom: 20vh;
}

#word-search {
    margin-top: 50px;
}

#word-info {
    display: block;
}

.form-check-1 {
    text-align: left;
    margin-left: 10px;
}

.form-check-input {
    margin-left: 5px;
}
label .form-check-input.input-sm {
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    position: unset;
    float:unset;
}

.boxcards {
    display: inline-block;
    width: 200rem;
    vertical-align: top;
    margin-left: 0px;
}

form {
    text-align: left;
}

.boxcard {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 1px;
}

.checkcard {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 1px;
}

.ltrcard {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    margin-left: 10px;
    margin-right: 1px;
    width: 6rem;
}

.boxwmargin {
    margin-left: 10px;
}

.titlcard {
}

.tbox {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}

#title {
    font-size:1.5rem;
}

#info {
}

#info dl dd {
    margin-bottom: 0.2rem;
}

.checkboxes1,.checkboxes2,.checkboxes3,.checkboxes4,.checkboxes5,.checkboxes6,.checkboxes7,.top3000,.top10000 {
    display: inline-block;
}

.form-check-label {
    white-space: nowrap;
}

.list-item, .list-item-lg {
    display: inline-block;
    /*display: inline-block;*/
    /*float: left;*/
    background: white;
    color:black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 200px;
    margin: 10px;
    vertical-align: top;
}

.list-item {
    width: 300px;
}

.list-item-lg {
    width: 800px;
}

.definition {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: justify;
    word-wrap: normal;
    word-break: normal;
}

.definition dt {
    text-align: left;
}

a.master, a.none {
    /*margin-right: 3px;
    padding: 0px;*/
    display: inline;
    text-decoration: none;
    color: inherit;
    word-wrap: inherit;
    word-break: inherit;
    overflow-inline: inherit;
}
a.none {
    font-weight: normal;
}
.row dt i {
    font-weight: normal;
}
.list-row center {
    font-weight: bold;
}

a:hover.none {
    text-decoration: none;
}

