$dark3-color: #989ca8;
$dark2-color: #5f6976;
$secondary-color: #04a0b2;

/*body {
  padding: 20px;
  text-align: center;
}*/


.popover-block-container {
  .popover-icon {
    background: none;
    color: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;

    i {
      color: $secondary-color;
      text-align: center;
      margin-top: 4px;
    }
  }
}

.abs {
  position: absolute;
}

.popover-header {
  /*display: none;*/
  color: #383E42;
}

.popover {
  max-width: 500px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 6px 1px #eee;
}

.popover-body {
  word-wrap: break-word;
  border: none;

  /*padding: 20px 49.4px 24px 24px; */
  padding: 5px 9.4px 5px 5px;
  color: $dark2-color;
  font-size: 1rem;
  font-style: italic;
  z-index: 2;
  line-height: 1.53;
  letter-spacing: 0.1px;

  .popover-close {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 1;

    .material-icons {
      font-size: 16px;
      font-weight: bold;
      color: $secondary-color;
    }

  }
}